*{
    background-color: #121417;
}
.header{
    padding: 10px;
    /* margin: 10px; */
    text-align: left;
    border-bottom: 1px solid white;
}

.header img{
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 5px auto 0; /* TOP RIGHT BOTTOM LEFT */
    width: 80%;
    max-width: 400px;
}

h2{
    text-align: center;
    width: 400px;
    margin-bottom: 2px;
}
input{
    background-color: #1C2126;
    border-radius: 10px;
    height: 50px;
    width: 400px;
    border: none;
    color: white;
    text-align: center;
}

.loginPg{
    margin-top: 20px;
    background-color: #1A80E5;
    border-radius: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    border: none;
    transition: transform 1s;
}
.loginPg:hover{
    transform: translateY(-3px);
}
.boxes{
    /* padding-left: 130px;
    padding-right: 130px; */
    text-align: left;
}

.last{
    color: #ffff;
    text-decoration: none;
}

.google{
    border-radius: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    border: none;
    margin-top: 10px;
    transition: transform 1s;
    background-color: #293038;
}

.google:hover{
    transform: translateY(-3px);
}
.checking{
    text-align: center;
}
.boxes h5{
    margin-bottom: 4px;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .google-logo {
    width: 30px;
    height: 30px;
    /* margin-right: 5px; add some space between image and text */
    background-color: transparent;
    margin-top: 5px;
  }
  
  /* .google span {
    font-size: 16px; /* adjust font size to your liking 
  } */