.registrationpage {
  /* height: 100vh; */
  display: grid;
  place-items: center;
}

.regisdescrip {
  display: grid;
  place-items: center;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.lrhead h2 {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.reginput {
  width: 30%;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #c9cace; /* Initial gray border */
  border-radius: 7px;
  font-size: medium;
  font-family: "Trebuchet MS";
}

.reginput:hover {
  outline: none; /* Remove default outline on focus */
  border: 1px solid rgb(29, 99, 237);
}

.reginput:focus {
  outline: none; /* Remove default outline on focus */
  border: 2px solid rgb(29, 99, 237);
}

.topspace {
  margin-top: 35px;
}

.suggest {
  font-size: small;
  padding: 5px;
  color: #6d6d6d;
}

.regbutton {
  margin: 20px;
  width: 31%;
  padding: 7px;
  background-color: rgb(29, 99, 237);
  border: none;
  border-radius: 7px;
  color: #ffffff;
  font-size: medium;
  font-family: "Trebuchet MS";
}

.regbutton:hover {
  /* Use colon after selector */
  cursor: pointer;
  background-color: rgb(36, 92, 206);
  transition: 500ms;
}

.reg-options {
  width: 31%;
}

.google-signin {
  width: 100%;
  padding: 7px;
}

.write_small {
  font-size: 0.92em;
}

.password-wrapper {
  display: flex;
  align-items: center; /* Vertically center child elements */
  width: 33.5%;
  padding-left: 30px;
}

.password-toggle-icon {
  cursor: pointer;
}

.visibilitytoggle {
  margin-left: 5px;
  max-width: 25px;
  max-height: 25px;
}

.passinput {
  width: 90%;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #c9cace; /* Initial gray border */
  border-radius: 7px;
  font-size: medium;
  font-family: "Trebuchet MS";
}

.passinput:hover {
  outline: none; /* Remove default outline on focus */
  border: 1px solid rgb(29, 99, 237);
}

.passinput:focus {
  outline: none; /* Remove default outline on focus */
  border: 2px solid rgb(29, 99, 237);
}
